@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  content: '';
  display: block;
  position: absolute;
}

html, body {
  height: 100%;
}

body {
  font: 15px/1 'Open Sans', sans-serif;
  color: #777;
}

a {
  cursor: pointer;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

nav {
  width: 200px;
  background: #333!important;
}

nav header {
  position: relative;
  height: 80px;
  padding: 20px 0 0 15px;
  font-size: 16px;
  color: #fff;
  background: #ff0000;
}

nav header span {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 10px 0 0;
  vertical-align: middle;
  border: 1px solid #fff;
}

nav header span:before {
  content: '\f007';
  font: normal 20px fontawesome;
  top: 7px;
  left: 9px;
}

nav header a:before {
  content: '\f08b';
  font: normal 20px fontawesome;
  top: 28px;
  right: 15px;
}

nav ul span {
  display: block;
  padding: 15px;
  color: rgba(255,255,255,.5);
  text-transform: uppercase;
  border-bottom: 1px solid #262525;
}

nav ul a {
  position: relative;
  display: block;
  padding: 15px 15px 17px 50px;
  color: #fff;
  border-bottom: 1px solid #262525;
}

nav ul a:hover,
nav ul a.active {
  background: #777575;
  transition: 0.35s;
}

nav ul a:before {
  font: normal 16px fontawesome;
  top: 15px;
  left: 18px;
}

nav ul li:nth-child(2) a:before { content: '\f00a'; }
nav ul li:nth-child(3) a:before { content: '\f012'; }
nav ul li:nth-child(4) a:before { content: '\f018'; } /*CONTACTS ICON*/
nav ul li:nth-child(5) a:before { content: '\f024'; }
nav ul li:nth-child(6) a:before { content: '\f0c3'; }
nav ul li:nth-child(7) a:before { content: '\f09b'; }
nav ul li:nth-child(8) a:before { content: '\f0fa'; }
nav ul li:nth-child(10) a:before { content: '\f002'; }
nav ul li:nth-child(11) a:before { content: '\f085'; }
nav ul li:nth-child(12) a:before { content: '\f08b'; }

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
}

.content-title {
  width: 100%;
  height: 80px;
  background-color: #ff0000;
}

.page-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 1.5%;
    padding-left: 5%;
}

.main-content {
  width: 100%;
  height: 650px;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 80%;
  margin-top: 5%;
  margin-left: 5%;
}

th, td {
  text-align: left;
  padding: 8px;
}
tr {
  height:50px;
}

tr:nth-child(even) { 
  background-color: #f2f2f2; 
}

.table-head {
  color: #fff;
  height: 60px;
  background-color: #333;
}

.button1 {
  background-color: red; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
