body{
  background-image: url(anfieldd.png);
background-repeat: no-repeat;
background-size:cover;
background-position: all;
background-attachment: fixed;
  }
  .contain{
    
    
    max-width: 640px;
    margin: 50px auto; 
   
    text-align: center;
  }
  fieldset{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    background-color:  rgba(255,255,255,0.7);
  }

  h1{
    text-align: center;
    padding: 10px;
  }
  
  input{
    margin: 20px 10px 20px 0;
  }
  
  .text{
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
  }

  
  button{
    padding: 10px;
    margin-top: 30px;
    
    width: 150px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    background-color:rgb(255, 92, 92) ;
  }
 
  
  .error {
    width: 100%;
    
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .error:active {
    padding: 0.3em;
  }
 


  