* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body{
  background-image: url(anfieldd.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: all;
	background-attachment: fixed;

 }
 .contain{
	width: 1024px;
	margin: 0 auto;
  }
.header{
	display: flex;
	background-color: rgba(255,255,255,0.7);
	height: auto;
	border-style: groove; 
	justify-content: space-between;
}	
	/* Header/logo Title */
.logo  p{
	margin: 30px 100px 30px 500px;
	font-size:36px;
	padding: 10px 15px 10px 25px;
	float: right;
	position: relative;
	color:#fff;
	background-color: #cc0000;
} 
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
  margin-right: 550px;

} 
	/* Style the top navigation bar */
.navbar {
	display: flex;
	background-color: #333;
	padding: 5px;
	border-style: groove;
	}
.header img{
	width: 150px;
	float: left;
}
	/* Style the navigation bar links */
.navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}
		/* Change color on hover */
.navbar a:hover {
	background-color: red;
	color: black;
}
.nav-right a {
  float: right;   
  color: white;
}

.container{
	text-align: center;
	background-color:  rgba(255,255,255,0.7);
	padding: 30px;
}






input{
	margin: 20px 10px 20px 0;
}

.text{
	padding: 10px;
	margin: 10px;
	width: 200px;
	border: 1px solid black;
	border-radius: 5px;
	outline: none;
}

p{
	max-width: 250px;
	margin: auto;
	padding: 20px;
	text-align: left;
}



/* select{
	padding: 10px;
	border: 1px solid pink;
	border-radius: 5px;
	margin-left: 20px;
} */

button{
	padding: 10px;
	width: 200px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	background-color: coral;
}

.error {
	width: 100%;
  
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 10px;
  box-sizing: border-box;
}
.error:active {
	padding: 0.3em;
}


.credits{
  color: #fff;
  display: flex; 
	margin: 0 auto;
	padding: 15px;
	line-height: normal;
	letter-spacing: 2px;
	text-align: center;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-weight: normal;
}
.social-icons {
  list-style-type: none;
  display: flex;
  margin: 10px 30px 0px 0px;
  padding: 0px;
  flex-direction: row;  
}
.footer-widgets{
  width: 1024px;
}
.footer {
	background-color: #000;
	padding: auto;
	margin: 0 auto;
	border-style: groove; 
	border-bottom: 1px solid grey;
	border-top: 1px solid grey;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}